{% extends 'app_sipeip/base2.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Archivos</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap5.css' rel='stylesheet'>
    <link href='https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>

    <div class="container mt-4">
        {% if messages %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </symbol>
        </svg>
        <div id="success-message" class="alert alert-success align-items-center " role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg>

            {% for message in messages %}
            {{ message }}
            {% endfor %}

        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <h3 class="mb-4">Subsectores Institucionales</h3>
                <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#modalAgregarSubsector">
                    <i class="fa-solid fa-square-plus"></i> Agregar 
                </button>
                <div class="table-responsive" id="table-responsive">
                    <table id="tablaSubsectores" class="table table-striped">
                        <caption>
                            Registro de Subsectores
                        </caption>
                        <thead>
                            <tr>
                                <th class="centered " style="width: 15px !important;">#</th>
                                <th class="centered ">Sector</th>
                                <th class="centered ">Nombre Subsector</th>
                                <th class="centered ">Acciones</th>
                            </tr>
                        </thead>
                        <tbody style="vertical-align: middle !important; white-space: nowrap !important;">
                            {% for subsector  in subsectores  %}
                            <tr>
                                <td style="width: 15px !important;"> {{ subsector.idsubsector }} </td>
                                <td>{{ subsector.idsector.nombre }}</td>
                                <td>{{ subsector.nombre }}</td>
                                <td style="white-space: nowrap !important;">
                                    <button data-elemento-id="{{ subsector.idsubsector }}"
                                        class="btn btn-sm btn-primary editar-btn"><i class="fa-solid fa-pencil"></i></button>
                                    <button type="button" data-elemento-id="{{ subsector.idsubsector }}" 
                                        class="btn btn-sm btn-danger eliminar-btn"><i class="fa-solid fa-trash-can"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <input type="hidden" name="hid" id="hid" value="0">
         <!-- Modal para eliminación -->
         <div class="modal fade " id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" >
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title fs-6" id="eliminarModalLabel">Eliminación Subsector Institucional</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                     </button>
                 </div>
                 <div class="modal-body">
                     <div id="formulario-eliminacion"></div>
                 </div>
             </div>
         </div>
     </div>
        <!-- Modal para edición -->
        <div class="modal fade " id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-5" id="editarModalLabel">Edición Subsector Institucional</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="formulario-edicion"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Agregar Subsector -->
        <div class="modal fade" id="modalAgregarSubsector" tabindex="-1" aria-labelledby="modalAgregarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form id="formAgregarSubsector">
                {% csrf_token %}
                <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarLabel">Agregar Nuevo Subsector</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="agregar-sector" class="form-label">Sector</label>
                        <select id="agregar-sector" name="sector" class="form-select" required>
                            <option value="" selected>Seleccione un sector</option>
                            {% for sector in sectores %}
                                <option value="{{ sector.idsector }}">{{ sector.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="agregar-nombre" class="form-label">Nombre del Subsector</label>
                        <input type="text" id="agregar-nombre" name="nombre" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
            </div>
        </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap5.js"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" charset="utf-8">
        //Temporizador de muestra de mensaje
        setTimeout(function () {
            var successMessage = document.getElementById('success-message');
            if (successMessage) {
                successMessage.style.display = 'none';
            }
        }, 3000); // Cambia 3000 que son 3 segundos 


        $(document).ready(function () {
            $('#tablaSubsectores').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
            }
            });
            $('.editar-btn').click(function () {
                var elementoId = $(this).data('elemento-id');
                $.ajax({
                    url: '/modifica-subsector/' + elementoId + '/',
                    success: function (data) {
                        $('#formulario-edicion').html(data);
                        $('#editarModal').modal('show');
                    }
                });
            });
            // Eliminar con confirmación
            $('.eliminar-btn').on('click', function () {
                //let row = $(this).closest('tr');
               // let id = row.data('id');
                var elementoId = $(this).data('elemento-id');

                Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'El Subsector será desactivado.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '{% url "eliminar_subsector" %}',
                            method: 'POST',
                            data: {
                                'id': elementoId,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function () {
                                location.reload();
                            }
                        });
                    }
                });
            });
            // Enviar formulario para agregar (AJAX)
            $('#formAgregarSubsector').on('submit', function(e) {
            e.preventDefault();
            let csrftoken = $('[name=csrfmiddlewaretoken]').val();
            $.ajax({
            url: '{% url "subsector_agregar" %}',
            method: 'POST',
            data: {
                'sector': $('#agregar-sector').val(),
                'nombre': $('#agregar-nombre').val().toUpperCase(),
                'csrfmiddlewaretoken': csrftoken
            },
            success: function (resp) {
                if (resp.success) {
                    // Limpiar el formulario
                    $('#formAgregarSubsector')[0].reset();

                Swal.fire({
                    icon: 'success',
                    title: 'Subsector registrado',
                    text: '¡El nuevo Subsector se guardó correctamente!',
                    timer: 1800,
                    showConfirmButton: false
                }).then(() => {
                    location.reload();
                });
                } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error al guardar',
                    text: resp.error || 'Verifica los datos.',
                });
                }
            },
            error: function () {
                Swal.fire({
                icon: 'error',
                title: 'Error de servidor',
                text: 'Ocurrió un problema al intentar guardar. Intente más tarde.'
                });
            }
            });
        });
            
        });
        function hid(int_id){
            var campoID = document.getElementById("hid");
            campoID.value=int_id;
        }
    
    </script>

</body>

</html>
{% endblock %}