{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}SIPEIP{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/toggle.css' %}" />
  <link rel="stylesheet" href="{% static 'css/menu1.css' %}" />
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="{% static 'favicon.ico' %}" />
</head>

<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-opacity-25" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Menú</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Archivo
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'c_archivo' %}">Crear</a></li>
                <li><a class="dropdown-item" href="{% url 'cons_arch' %}">Consultar</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Reportes
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'rpt_excel' %}">Consolidado</a></li>
                <li><a class="dropdown-item" href="{% url 'rpt_excelf' %}">Por Filtros</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="{% url 'proximamente' %}" aria-current="page">Imprimir</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="{% url 'logout' %}" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Bienvenido/a: {{user}}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                <li> _________________________ </li>
                <br>
                <li class="option">
                  <span class="option-text"><input type="checkbox" class="checkbox" id="dark-mode" tooltip="erer">
                    <label class="label" for="dark-mode"></label>
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="contenido">
      {% block content %}
      {% endblock %}
    </div>
    <br>
    <script src="{% static '/script.js' %}"></script>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>

</body>

</html>