{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_sipeip/css/login.css' %}"/>
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="{% static 'favicon.ico' %}" />

    <title>Sistema de Archivo</title>
    
</head>
<body>
   
    {% block content %}
    <div class="powered">
        <p>
            Powered By: SNP
        </p>
    </div>
    <nav class="container">
        <div class="logo-box">
            <img src="{% static 'app_sipeip/images/logo.png' %}" alt="senplades" class="logo">
        </div>
    </nav>
    <div class="form">
        <form action="/login/" class="sub-form" method="post">
            {% csrf_token %}
            <div class="upper-form">
                <h2>Inicio de Sesión</h2>
                <label>Usuario</label><br>
                <input type="text" name="username" placeholder="Escribe tu username" required><br>
                <label>Clave</label><br>
                <input type="password" name="password" placeholder="Escribe tu password" required><br>
                <div class="btn">
                        <button type="submit">Login</button><br>
                </div>
                <p class="rojo">{{error}}</p>
            </div>
        </form>   
    </div>
   {% endblock %}
</body>

</html>