{% extends 'app_sipeip/base2.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app_sipeip/css/registrar.css' %}">
{% endblock %}
{% block title %}Registro de usuario{% endblock %}
{% block content %}
<div class="registro-page">
  <main class="main-content">
    <div class="card">
    <form method="POST">
        {% csrf_token %}
        <h2>Registro de usuario</h2>
    
        <div class="form-row">
            <div class="form-group">
                <input class="form-input" type="text" name="username" placeholder="Usuario" required>
            </div>
            <div class="form-group">
                <input class="form-input" type="email" name="email" placeholder="Correo" required>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <input class="form-input" type="text" name="identificacion" placeholder="Cédula" required>
            </div>
            <div class="form-group">
                <input class="form-input" type="text" name="nombres" placeholder="Nombres" required>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <input class="form-input" type="text" name="apellidos" placeholder="Apellidos" required>
            </div>
            <div class="form-group"></div>
        </div>
    
        <button class="btn" type="submit">Registrar</button>
        {% if error %}
        <p class="error-msg">{{ error }}</p>
        {% endif %}
    </form>

    </div>
  </main>
</div>
{% endblock %}
{% block extra_js %}
{% if registro_exitoso %}
<script>
Swal.fire({
  icon: 'success',
  title: 'Usuario registrado',
  text: 'El usuario fue registrado correctamente. Esta ventana se cerrará automáticamente.',
  showConfirmButton: false,
  timer: 3000
});
</script>
{% endif %}
{% endblock %}
