{% load static %}
<!-- templates/app_sipeip/password_reset.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'app_sipeip/css/login.css' %}">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <h2>¿Olvidaste tu contraseña?</h2>
        <form method="POST">
            {% csrf_token %}
            <label>Correo registrado:</label>
            <input type="email" name="email" required placeholder="tucorreo@ejemplo.com">
            <button type="submit">Enviar enlace</button>
        </form>
        <p style="text-align:center;">
            <a href="{% url 'login' %}">Volver al login</a>
        </p>
    </div>
</div>
</body>
</html>
